.videoMenu {
  @apply absolute rounded-lg flex flex-col gap-1;
  background: rgba(112, 128, 166, 0.2);
  border: 0.5px solid gray;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  bottom: -35px;
  right: 0;
  .videoMenuItem {
    @apply text-xs rounded-lg flex justify-center items-center p-1;
  }
  .videoMenuItem:hover {
    box-shadow: inset 0 2em 2em rgba(0, 0, 0, 0.1),
      0 0 0 1px rgb(112, 128, 166, 0.2), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
}
