.navigationOverlay {
  @apply absolute flex flex-col items-center gap-1 rounded-lg;
  background: rgba(112, 128, 166, 0.2);
  border: 0.5px solid gray;
  border-top: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  top: -800px;
  width: 100%;
  .navItem {
    @apply flex  justify-center text-3xl p-5 rounded-lg;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 2em 2em rgba(0, 0, 0, 0.1),
      0 0 0 1px rgb(112, 128, 166, 0.2), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
}
.navigationOverlay-enter {
  transition: 0.2s;
  top: -800px;
}
.navigationOverlay-enter-done {
  transition: 0.2s;
  top: 45px;
}
.navigationOverlay-exit {
  @apply absolute;
  transition: 0.3s;
  top: -800px;
}
.navigationOverlay-exit-active {
  @apply absolute;
  transition: 1s;
  top: -800px;
}
